# Importing libraries

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Importing data

In [3]:
df = pd.read_csv('.//spam.csv')

In [4]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
df = df[['v1','v2']]

In [6]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Converting output into 0 and 1

In [7]:
df['v1']=pd.factorize(df['v1'])[0]

In [8]:
df

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will �_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
df.dtypes

v1     int64
v2    object
dtype: object

# Importing Deep Learning libraries

In [30]:
import tensorflow as tf
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk import stem
from nltk.stem.porter import PorterStemmer
import gensim
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
import re

In [11]:
x = df.drop('v1',axis=1)
y = df.v1

In [12]:
x

                                                     v2
0     Go until jurong point, crazy.. Available only ...
1                         Ok lar... Joking wif u oni...
2     Free entry in 2 a wkly comp to win FA Cup fina...
3     U dun say so early hor... U c already then say...
4     Nah I don't think he goes to usf, he lives aro...
...                                                 ...
5567  This is the 2nd time we have tried 2 contact u...
5568              Will �_ b going to esplanade fr home?
5569  Pity, * was in mood for that. So...any other s...
5570  The guy did some bitching but I acted like i'd...
5571                         Rofl. Its true to its name

[5572 rows x 1 columns]

In [13]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [14]:
from collections import Counter
Counter(df.v1)

Counter({0: 4825, 1: 747})

# Data Preprocessing

In [18]:
messages=x.copy()
messages.reset_index(inplace=True)
ps = PorterStemmer()
corpus = []
for i in range(0,len(messages)):
    review = re.sub('[^a-zA-Z]',' ',messages['v2'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [19]:
corpus[0]

'go jurong point crazi avail bugi n great world la e buffet cine got amor wat'

In [ ]:
voc_size=5000
onehot_repr = [one_hot(words,voc_size) for words in corpus]

# Onehot Representation

In [21]:
len_onehot_repr = []
len(onehot_repr[0])
for i in range(0,len(onehot_repr)):
    length = len(onehot_repr[i])
    len_onehot_repr.append(length)
print(len(len_onehot_repr))
max(len_onehot_repr)

5572

77

In [22]:
sent_length = 90
embedded_docs = pad_sequences(onehot_repr,padding='pre',maxlen=sent_length)
print(embedded_docs)
print(len(embedded_docs[0]))
embedded_docs[0]

[[   0    0    0 ... 1436 2607  737]
 [   0    0    0 ... 2374  922 4976]
 [   0    0    0 ... 3068 3921 1392]
 ...
 [   0    0    0 ... 1064 3494 3982]
 [   0    0    0 ... 1668 1234 4438]
 [   0    0    0 ... 2131  128 3087]]
90

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,  566, 2297, 3349,
       3289, 3884, 4225, 1854,  425, 3285, 2558, 2204, 2768, 4781, 1436,
       2607,  737])

# Building Model

In [24]:
embedding_vector_features = 40
model = Sequential()
model.add(Embedding(voc_size,embedding_vector_features,input_length=sent_length))
model.add(LSTM(20))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 90, 40)            200000
_________________________________________________________________
lstm (LSTM)                  (None, 20)                4880
_________________________________________________________________
dense (Dense)                (None, 1)                 21
=================================================================
Total params: 204,901
Trainable params: 204,901
Non-trainable params: 0
_________________________________________________________________
None

In [25]:
x_final = embedded_docs

# Splitting and fitting the data in model

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_final,y,test_size=0.2,random_state=4)

In [27]:
model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=10,batch_size=100)

Epoch 1/10
45/45 [==============================] - 5s 43ms/step - loss: 0.4999 - accuracy: 0.8683 - val_loss: 0.3783 - val_accuracy: 0.8439
Epoch 2/10
45/45 [==============================] - 1s 28ms/step - loss: 0.2207 - accuracy: 0.9138 - val_loss: 0.1712 - val_accuracy: 0.9570
Epoch 3/10
45/45 [==============================] - 1s 28ms/step - loss: 0.1008 - accuracy: 0.9816 - val_loss: 0.1148 - val_accuracy: 0.9758
Epoch 4/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0598 - accuracy: 0.9908 - val_loss: 0.0925 - val_accuracy: 0.9812
Epoch 5/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0393 - accuracy: 0.9946 - val_loss: 0.0846 - val_accuracy: 0.9812
Epoch 6/10
45/45 [==============================] - 1s 30ms/step - loss: 0.0282 - accuracy: 0.9966 - val_loss: 0.0736 - val_accuracy: 0.9830
Epoch 7/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0205 - accuracy: 0.9980 - val_loss: 0.0755 - val_accuracy: 0.9812
Epoch 8/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0146 - accuracy: 0.9987 - val_loss: 0.0862 - val_accuracy: 0.9812
Epoch 9/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0118 - accuracy: 0.9989 - val_loss: 0.0796 - val_accuracy: 0.9821
Epoch 10/10
45/45 [==============================] - 1s 28ms/step - loss: 0.0089 - accuracy: 0.9989 - val_loss: 0.0833 - val_accuracy: 0.9803

# Making predictions and looking for accuracy

In [28]:
y_pred = model.predict_classes(x_test)

In [29]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

[[939   2]
 [ 20 154]]

0.9802690582959641